// Place all the styles related to the api/Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment-index{
  padding: 10px;
  margin:5px;
  flex:1;
  word-wrap: normal;
  overflow-y: scroll;

  .comment-form-box{
    border-radius:5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;

    .comment-button-section{
      display:flex;
      justify-content: flex-end;
      height:35px;
    }
  }

  .parent-comment{
    border-radius:5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;

    .parent-comment-details{
      display:flex;
      justify-content: space-between;
      padding: 3px;
      margin-bottom: 10px;
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.117647); //line below
      .parent-comment-time-ago, .parent-comment-user{
        color: rgb(120, 120, 120);
        font-size:14px;
      }
      .parent-comment-user{
        cursor:pointer;
      }
      .parent-comment-user:hover{
        color: rgb(0, 188, 212);
      }
    }
    .parent-comment-body{
      padding: 0 6px;
    }

  }
  .child-comment-index{
    padding-left: 40px;
    .child-comment-container{
      border-radius:5px;
      padding: 10px;
      background-color: #fff;
      margin-bottom: 10px;

      .child-comment-details{
        display:flex;
        justify-content: space-between;
        padding: 3px;
        margin-bottom: 10px;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.117647); //line below
        .child-comment-time-ago, .child-comment-user{
          color: rgb(120, 120, 120);
          font-size:14px;
        }
        .child-comment-user{
          cursor:pointer;
        }
        .child-comment-user:hover{
          color: rgb(0, 188, 212);
        }
      }
      .child-comment-body{
        padding: 0 6px;
      }
    }

  }
  .reply-link-box{
    display:flex;
    justify-content: flex-end;
    .reply-link{
      font-size: 13px;
      color: rgb(169, 169, 169);
      cursor:pointer;
    }
    .reply-link:hover{
      color: rgb(0, 188, 212);
    }
  }
  .reply-form-box{
    border-radius:5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-left:40px;

    .comment-button-section{
      display:flex;
      justify-content: flex-end;
      height:35px;
    }
  }
}
