// Placahere all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup-button{
  width: 150px !important;
}

.login-header{
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
  height:42px;
  .sign-up-button, .log-in-button{
    width: 150px !important;
    float:right;
  }
}

.session-form-popover{
  width:250px;
  .login-title{
    font-size: 24px;
    font-weight: 600;
  }
  .sesion-form-box{
    padding:10px 15px;
    .session-form-button-box{
      display:flex;
      justify-content: space-between;
    }
  }
}
