
#video-upload-form-container{
  display:flex;

  flex:1;
  background-image: url("http://res.cloudinary.com/tlcoy4e3/image/upload/v1478625970/1830e5815d863062fce30fe6cc0c8ab2_idu2gv.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;

  #upload-form-box{
    display:flex;
    float:right;
    flex-direction: column;
    justify-content: center;
    height:770px;
    width:100%;
    max-width:770px;
    padding: 0 40px;
    border-radius: 10px;
    background-color: #fff;
    margin: 80px 10% 20px 1px ;

    #upload-video-title{
      margin:0 auto;
      padding-top: 20px;
      font-size: 30px;
      color: rgb(40,61,72);
    }

    .upload-widget{
      height:370px;
    }

    #upload-success{
      height:370px;
      display:flex;
      width:100%;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-size: 22px;
      font-weight: 500;
      color:rgb(0, 188, 212);
    }

    #video-requirements{
      display:flex;
      justify-content: space-between;
    }

    #upload-maximum-size, #upload-formats{
      color: rgb(169, 169, 169);
      word-spacing: 3px;
    }
    #upload-maximum-size{
      margin-right: 20px;
    }
  }
}

#upload-error{
  color:red;
}
