
.video-upload-form-container{
  display:flex;
  flex:1;
  justify-content: center;
}
.upload-form-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width:800px;
  flex:1;
  padding: 15px 40px;
  margin: 10px auto;
}

.upload-video-title{
  margin:0 auto;
  font-size: 24px;
}

.upload-widget{
  height:370px;
}

.video-requirements{
  display:flex;
  justify-content: space-between;
}

.upload-maximum-size, .upload-formats{
  color: rgb(169, 169, 169);
  word-spacing: 3px;  
}
