// Place all the styles related to the api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-page{
  display:flex;
  flex:1;
  justify-content: flex-end;
  height: 100%;
  margin: 0px 25px auto;
  background: #fff;


  #user-page-nav{
    padding-top: 80px;
    flex:1;
    justify-content: flex-end;

    .anchor{
      width:200px;
    }
    .user-username{
      font-size: 30px;
      font-weight: 500;
      padding: 40px 20px;
    }
    .align-right{
      width:100%;
      display:flex;
      justify-content: flex-end;

      .clicked{
        display:flex;
        justify-content: flex-end;
        padding: 10px 20px;
        width:150px;
        font-weight: 500;
        background: #f0f0f0;
        cursor:pointer;
      }
      .show-user-comment-button, .show-user-video-button {
        display:flex;
        justify-content: flex-end;
        padding: 10px 20px;
        width:100px;
        font-weight: 500;
        background: #fff;
        cursor:pointer;
      }
      .show-user-comment-button:hover, .show-user-video-button:hover{
        background: #f0f0f0;
      }
      .show-user-comment-button:active, .show-user-video-button:active{
        background: #fff;
      }
    }


  }

  #user-page-main{
    padding-top: 30px;
    flex:5;

    .user-comments{
      background: #f1f1f1;
      height:100%;

      #user-comment-list{
        padding: 40px 30px 30px 30px;

        .parent-comment{
          border-radius:5px;
          padding: 10px;
          background-color: #fff;
          margin-bottom: 10px;

          .parent-comment-details{
            display:flex;
            justify-content: space-between;
            padding: 3px;
            margin-bottom: 10px;
            box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.117647); //line below

            .parent-comment-user{
              display:none;
            }
            .parent-comment-time-ago{
              color: rgb(120, 120, 120);
              font-size:13px;
            }
          }
          .parent-comment-body{
            padding: 0 6px;
          }

        }
      }
    }


    .user-videos{
      background: #f1f1f1;
      height:100%;

      #user-video-list{
        padding: 30px;
        .video-index-item-margin{
          padding: 10px;



          .video-index-item{
            display:relative;
            display:flex;
            width:100%;
            padding:10px;
            border-radius: 2px;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

            .play-icon-box{
              cursor:pointer;
              justify-content: center;
              align-items: center;
              background:black;
              width:300px;
              height: 190px;
              border:none;
              padding:0;
              margin:0;
              box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
              border-radius: 2px;

              .video-index-item-picture{
                width:300px;
                height:190px;
              }
              .picture-overlay{
                position:absolute;
                width:300px;
                height:190px;
                span{
                  opacity: 0;
                  visibility: hidden;
                }
                .center-button{
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  width:100%;
                  height:100%;
                }
                .top-right-button{
                  position:absolute;
                  top:0;
                  right:0;
                  display: flex;
                  justify-content: flex-end;
                }
              }
            }

            .play-icon-box:hover span{
              opacity: 0.70;
              visibility: visible;
            }

            .center-button:active span{
              color:rgb(0, 188, 212) !important;
            }

            .top-right-button:active span{
              color:rgb(0, 188, 212) !important;
            }

            .video-index-item-detail{
              height:190px;
              overflow-y: hidden;

              .video-index-item-title{
                font-weight: 500;
                font-size: 19px;
                padding: 5px 10px;
                cursor:pointer;
              }
              .video-index-item-title:hover{
                color: rgb(0, 188, 212);
              }
              .video-index-view-age-detail{
                padding: 10px;
              }
              .video-index-view-count, .video-index-age, .video-index-item-user, .video-index-description{
                color: rgb(120, 120, 120);
                margin-bottom: 4px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
