// Place all the styles related to the api/Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video-dummy-fixed{
  position:fixed;
  bottom:50px;
  left:50px;
  z-index: 100;
  visibility:visible;
  opacity:1;
  width: 496px;
  height: 279px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;

  #video-overlay{
    width:100%;
    height:100%;
    #player-buttons{
      position:absolute;
      display:flex;
      flex:1;
      z-index: 101;
      width:100%;
      padding:0;
      justify-content: flex-end;

      .expand-button{
        padding:0 !important;

        border-radius: 2px;
        background: #00BCD4 !important;
      }
      .close-button{
        padding:0 !important;

        border-radius: 2px;
        background: #FF4081 !important;
      }
    }
    #video-player-box, #video-player-box-right{
      width:100%;
      height:100%;
      #size-wrapper{
        width:100%;
        height:100%;
      }
    }
  }
}

#video-dummy{
  display:flex;
  margin-top:50px;
  height:1px;
  width: 800px;
  padding-right: 40px;
  z-index: 100;
  visibility:visible;
  opacity:1;

  #video-overlay{
    width: 800px;
    position:fixed;
    top:52px;
    bottom: 2px;
    display:flex;

    .comment-overlay{
      position:relative;
      display:flex;
      width:800px;
      top: 0px;
      bottom: 0px;
      background: #f1f1f1;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

      .show-comment-button{
        display:flex;
        width:80px;
        align-content: center;
        text-align: center;
        background-color: rgb(0, 188, 212); /* changes to rgb(255, 64, 129) */
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        border-radius: 2px;
        cursor:pointer;
      }

      .hide-comment-button{
        display:flex;
        width:40px;
        align-content: center;
        text-align: center;
        background-color: rgb(255, 64, 129); /* changes to rgb(0, 188, 212) */
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        border-radius: 2px;
        cursor:pointer;
      }

      #comment-button-text{
        width:10px;
        font-size:30;
        font-weight: 600;
        writing-mode: tb-rl;
        padding:15px;
        color:#fff;
        cursor:pointer;
      }
    }
    #video-player-box{
      position:absolute;
      display:flex;
      flex-direction: column;
      width:800px;
      top:0px;
      bottom:0px;
      left:40px; //changes to left 100%;
      z-index: 200;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    #video-player-box-right{
      position:absolute;
      display:flex;
      flex-direction: column;
      width:800px;
      top:0px;
      bottom:0px;
      left:100%; //changes to left 40px;
      z-index: 200;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    #player-buttons{
      display:flex;
      z-index: 300;
      justify-content: flex-end;
      margin:16px 16px 0 16px;
      .collapse-button{
        z-index: 300!important;
        padding:0 !important;
        border-radius: 2px;
        background: #00BCD4 !important;
      }
      .close-button{
        z-index: 300 !important;
        padding:0 !important;
        border-radius: 2px;
        margin-left: 4px!important;
        background: #FF4081 !important;
      }
    }

    #size-wrapper{
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      width: 768px;
      height: 432px;
      margin:16px;
    }

    .video-details{
      flex:1;
      margin: 0 16px 16px 16px;
      padding: 16px;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

      #video-title{
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.117647); //line below
        padding-bottom: 20px;
        margin-bottom: 1px;
      }

      #detail-queue-toggle-buttons{
        display:flex;
        width:100%;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.117647); //line below

        .clicked{
          text-align: center;
          padding: 10px 20px;
          flex:1;
          font-weight: 500;
          background: #f0f0f0;
          cursor:pointer;
        }
        .show-details, .show-queue {
          text-align: center;
          padding: 10px 20px;
          flex:1;
          font-weight: 500;
          background: #fff;
          cursor:pointer;
        }
      }
      #video-user-view-details{
        display:flex;
        justify-content: space-between;
      }

      #video-description{
        margin-top: 15px;
        flex:1;
        overflow-y: hidden;
      }
      .video-sub-details{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
      }
      .video-queue{
        width:100%;
        display:flex;
        background: #f0f0f0;

        .video-queue-list{
          width:100%;
          display:flex;
          overflow-x: scroll;

          .queue-item{
            position:relative;
            margin: 20px;
            width: 180px;
            height: 110px;

            img{
              width: 180px;
              height: 110px;
            }
            .remove-queue-button{
              position:absolute !important;
              right:0 !important;
            }
          }
        }
      }
    }
  }
}
video{
  object-fit:fill;
}

@media screen and (max-device-width:1700px){
  #video-dummy{
    width: 700px;
    #video-overlay{
      width: 700px;
      .comment-overlay{
        width:700px;
      }
      #video-player-box{
        width:700px;
      }
      #video-player-box-right{
        width:700px;
      }
      #size-wrapper{
        width: 672px;
        height: 378px;
        margin: 14px;
      }
      .video-details{
        margin: 14px;
      }
    }
  }
}


@media screen and (max-device-width:1500px){
  #video-dummy{
    width: 600px;
    #video-overlay{
      width: 600px;
      .comment-overlay{
        width:600px;
      }
      #video-player-box{
        width:600px;
      }
      #video-player-box-right{
        width:600px;
      }
      #size-wrapper{
        width: 576px;
        height: 324px;
        margin: 12px;
      }
      .video-details{
        margin: 12px;
      }
    }
  }
}

@media screen and (max-device-width:1300px){
  #video-dummy{
    width: 500px;
    #video-overlay{
      width: 500px;
      .comment-overlay{
        width:500px;
      }
      #video-player-box{
        width:500px;
      }
      #video-player-box-right{
        width:500px;
      }
      #size-wrapper{
        width: 480px;
        height: 270px;
        margin: 10px;
      }
      .video-details{
        margin: 10px;
      }
    }
  }
}

@media screen and (max-device-width:1100px){
  #video-dummy{
    width: 400px;
    #video-overlay{
      width: 400px;
      .comment-overlay{
        width:400px;
      }
      #video-player-box{
        width:400px;
      }
      #video-player-box-right{
        width:400px;
      }
      #size-wrapper{
        width: 384px;
        height: 216px;
        margin: 8px;
      }
      .video-details{
        margin: 8px;
      }
    }
  }
}
