.video-index-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
  padding: 15px 40px;
  margin: 10px auto;

  .video-index-title{
    margin: 20px auto;
    font-size: 24px;
  }

  .video-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

    .video-index-item-margin{
      padding: 10px;

      .video-index-item{
        display:relative;
        display:flex;
        flex-direction: column;
        font-size:12px;
        width:200px;
        padding:10px;
        border-radius: 2px;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

        .video-index-item-picture{
          width:200px;
          height:150px;
          height:auto;
          border-radius: 2px;
          box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        }
        .play-icon-box{
          position:absolute;
          justify-content: center;
          align-items: center;
          background:none;
          height:130px;
          width:200px;
          border:none;
          span{
            opacity: 0 !important;
            visibility: hidden !important;
          }
        }
        .play-icon-box:hover span{
          opacity: 0.70 !important;
          visibility: visible !important;
        }

        .play-icon-box:active span{
          color:rgb(0, 188, 212) !important;
        }

        .video-index-item-title{
          overflow-y: hidden;
          height: 30px;
          font-weight: 500;
          font-size: 14px;
          margin: 3px 0px;
        }
        .video-index-item-title:hover{
           color: blue;
        }
        .video-index-view-age-detail{
          display:flex;
          justify-content: space-between;
        }
      }
    }
  }
}
