// Place all the styles related to the api/Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-dummy{
  display:flex;
  width: 840px;

  .video-overlay{
    width: 800px;

    position:fixed;
    top:55px;
    bottom: 0px;
    display:flex;
    background:purple;

    .comment-overlay{
      position:relative;
      display:flex;
      width:800px;
      top: 0px;
      bottom: 0px;
      background-color:blue;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

      .show-comment-button{
        display:flex;
        width:50px;
        background: yellow;
        align-content: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

        .comment-button-text{
          width:10px;
          font-size:30;
          font-weight: 600;
          writing-mode: tb-rl;
          padding:15px;
          background-color: rgb(0, 188, 212);
          color:#fff;

          -webkit-user-select: none; /* Chrome/Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+ */
          /* Rules below not implemented in browsers yet */
          -o-user-select: none;
          user-select: none;
        }
      }
      .comment-index{
        display:flex;

        padding: 20px;
        margin:10px;
        background-color: yellow;
        word-wrap: normal;
        overflow-y: scroll;
        background-color: green;
      }
    }
    .video-player-box{
      position:absolute;
      display:flex;
      flex-direction: column;
      width:800px;
      top:0px;
      bottom:0px;
      left:40px; //changes to left 100%;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

      .video-player{
        display:flex;
        padding:16px;
        background-color: green;

      }

    }
  }
}

video{
  object-fit:fill;
}
