/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#main-section{
  position:relative;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

#main-header{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  background-color: #fff;
  min-width: 700px;
  top:0;
  margin:0;
  z-index: 100;
  display:flex;
  position:fixed;

  #header-padding{
    align-items: center;
    height:50px;
    padding: 0 40px;
    flex:1;
    display:flex;

    #motion-cloud-logo{
      font-weight: 600;
      font-size:24px;
      border-radius: 2px;
      padding: 5px 16px;

      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
    }

    #motion-cloud-logo:hover{
      background-color: #0277BD;
      color: #fff;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    #motion-cloud-logo:active{
      background-color: rgb(0, 188, 212);
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    #search-bar{
      display:flex;
      margin-left: 20px;
      flex:1;
    }

    .flex1{
      flex:1;
    }

    .user-nav .session-form-container{
      display:flex;
      visibility:visible;
      opacity:1;
    }
  }

}

#page-boundary{
  display:flex;
  justify-content: center;
  flex:1;
  background: #dddddd;

  .hide-comment-section{
    background: #000000;
    visibility: visible;
    opacity: 0.2;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}

#footer{
  background:black;
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 20px;

  #trademark{
    font-size: 24px;
    font-weight: 600;
    color:white;
  }

  #links{
    a{
      margin: 15px;
      img{
        height:40px;
        width:40px;
      }
    }
  }

  #signature{
    font-size: 20px;
    font-weight: 500;
    color:white;
  }
}
