html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
  font-family: Roboto, sans-serif;
	list-style: none;
	box-shadow:none;
	-webkit-transition: all 450ms ease;
	-moz-transition: all 450ms ease;
	-o-transition: all 450ms ease;
	-ms-transition: all 450ms ease;
	transition: all 450ms ease;
}


.display-none{
  position:fixed !important;
  visibility:hidden !important;
  opacity:0 !important;
}
